<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysql.UserMapper">
    <select id="selectById" resultType="com.mysql.UserDo">
        select * from user where id=#{id}
    </select>
    <update id="update" parameterType="com.mysql.User">
        UPDATE user 
        <trim prefix="SET" prefixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="age != null and age != ''">
               , age = #{age}
            </if>
            <if test="birthday != null and birthday != ''">
                , birthday = #{birthday}
            </if>
        </trim>
        where id = ${id}
    </update>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</mapper>